<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Cadastrar Loja</title>
</head>
<body>
    <div class="container col-6 bg-light text-secondary">
        <hr>
        <h4>Formulario de Cadastro</h4>
        <hr>
        <th:block th:include="msg_val"></th:block>
        <form action="" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="nome" placeholder="Nome *">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="cnpj" onkeypress="$(this).mask('00.000.000/0000-00')" placeholder="CNPJ *">
            </div>
            <div class="form-group">
<!--                <label>Classificação</label>-->
                <select name="classificacao" class="form-control">
                    <option selected disabled value="">Classificação *</option>
                    <option value="eletronicos">ELETRONICOS</option>
                    <option value="calçados">CALÇADOS</option>
                    <option value="roupas">ROUPAS</option>
                    <option value="higiene_pessoal">HIGIENE_PESSOAL</option>
                    <option value="produtos_de_limpeza">PRODUTOS_DE_LIMPEZA</option>
                    <option value="medicamentos">MEDICAMENTOS</option>
                    <option value="alimentos">ALIMENTOS</option>
                    <option value="variedades">VARIEDADES</option>
                </select>
            </div>
            <small class="form-text text-muted mb-3">(*) Campos Obrigatórios</small>
            <div class="form-group">
                <div class="row">
                    <div class="col"><button type="submit" class="btn btn-success btn-sm col">Cadastrar</button></div>
                    <div class="col"><a href="/lojas" class="btn btn-secondary btn-sm col">Cancelar</a></div>
                </div>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>

</body>
</html>